/* stylelint-disable */
:root {
  --basic-red: #ff0000;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-background: rgb(12, 12, 163);
}


h1 {
  color: var(--basic-red);
}

*,
*::after,
*::before {
  box-sizing: padding-box;
  font-family: "Roboto", sans-serif;
}

.hidden {
  display: none !important;
}

.page-body {
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 2%;
  background-color: var(--basic-background);
  box-sizing: border-box;
}

.label__tester-info {
  font-size: 32px;
  margin-bottom: 3%;
}

.tester-info {
  font-size: 32px;
  margin-bottom: 3%;
  padding: 25px;
  border-radius: 20px;
  border: none;
  text-align: center;
  width: 65%;
}

.btn-start-test {
  border: 5px solid var(--basic-white);
  background-color: transparent;
  color: var(--baisc-white);
  font-size: 32px;
  border-radius: 20px;
  padding: 25px 35px;
  transition: 500ms;
}

.btn-start-test:disabled {
  background-color: grey;
}

.btn-start-test:disabled:hover {
  color: var(--baisc-white);
  background-color: grey;
  transition: 500ms;
}
.btn-start-test:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: 500ms;
}

.frame-init-game,
.frame-start-game,
.frame-resault-game {
  width: 100%;
  /* height: 100vh; */
  background-color: var(--basic-background);
  color: var(--basic-white);
}

.frame-init-game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.frame-start-game {
  padding: 5%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: column;

  padding: 0;
  margin: 0;
}

.progress-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0 15px 0 15px;
  margin: 0;
  gap: 15px;
  column-gap: 30px;
  /* margin-top: 10%; */
}

.progress-bar__item {
  border: 2px solid var(--basic-white);
  padding: 25px 29px;
  border-radius: 25%;
  font-size: 24px;
  font-weight: bold;
  color: var(--basic-white);
  background-color: transparent;
}

/* .progress-bar__item--next {
  background-color: var(--basic-white);
  color: var(--basic-black);
} */


.progress-bar__item:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: 300ms;
}

.progress-bar__item--active {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.question-text {
  text-align: center;
  margin-top: 5%;
  font-size: 32px;
  text-shadow: 1px 1px 1px var(--basic-black),
  1px -1px 1px var(--basic-black),
  -1px 1px 1px var(--basic-black),
  -1px -1px 1px var(--basic-black);
  padding: 15px;
  border: 25px double var(--basic-white);
  width: 85%;
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.area-choose-answer {
  text-align: center;
  margin-top: 5%;
  font-size: 28px;
  padding: 15px;
  /* border: 15px double var(--basic-white); */
  width: 85%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}

.answer {
  width: auto;
  border: 2px solid var(--basic-white);
  padding: 10px;
  border-radius: 20px;
  background-color: transparent;
  transition: 300ms;
  color: var(--basic-white);
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.answer:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
  transition: 300ms;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.grid-3x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}
/* stylelint-enable */


.frame-resault-game {
  padding: 25px;
  display: grid;
  font-size: 24px;
  flex-wrap: wrap;
  gap: 25px;
  grid-template-columns:  1fr 1fr;
  grid-template-columns: 1fr 1fr;
}

.resaultAnswer {
  border: 2px solid var(--basic-white);
  border-radius: 20px;
  padding: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 text-align: center;
 align-items: center;

}

.red {
text-decoration: underline;
}
.rightResaultAnswer {


.loseResaultAnswer {

}

.corrent-answer {
  text-decoration: underline;
}
}

.not-corrent-answer {
  text-decoration-line: line-through;

}
